In [8]:
import sqlite3
import pandas as pd

conn = sqlite3.Connection("data/dognition_data_no_aggregation_with_zip_code_correction.xlsx")

In [16]:
!ls
!ls

README.md
SQL_Lab_Assignment_1.ipynb
SQL_Lab_Assignment_2.ipynb
SQL_Lab_Assignment_3_Optional.ipynb
SQL_Lab_Exercise.ipynb
Untitled.ipynb
WIP_emergencynotebook.ipynb
data
dognition_data_no_aggregation_with_zip_code_correction.xlsx
img
sqlquery.png
README.md
SQL_Lab_Assignment_1.ipynb
SQL_Lab_Assignment_2.ipynb
SQL_Lab_Assignment_3_Optional.ipynb
SQL_Lab_Exercise.ipynb
Untitled.ipynb
WIP_emergencynotebook.ipynb
data
dognition_data_no_aggregation_with_zip_code_correction.xlsx
img
sqlquery.png

In [2]:
q0 = """
SELECT productline
FROM productlines
;
"""

pd.read_sql(q0, conn)

        productLine
0      Classic Cars
1       Motorcycles
2            Planes
3             Ships
4            Trains
5  Trucks and Buses
6      Vintage Cars

In [10]:
q1 = """
SELECT Breed_type
FROM Breed
;
"""

q1_result = pd.read_sql(q1, conn)

DatabaseError: Execution failed on sql '
SELECT Breed_type
FROM Breed
;
': no such table: Breed

In [7]:
df1 = pd.read_excel("dognition_data_no_aggregation_with_zip_code_correction.xlsx")
print("\nColumn Names:")
print(df.columns)

ValueError: Excel file format cannot be determined, you must specify an engine manually.